


/* MAP CSS FROM https://github.com/xihai01/d3-mapping-with-react/tree/main/root/src/components */
.map-canvas {
    height: 480px;
    width: 960px;
    color: #fff;
    background-color: "#D37506";
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
  }

.map-path {
    fill: rgb(132, 0, 255);
    stroke: cornsilk;
    stroke-width: 1px;
}

.map-path:hover {
    cursor: pointer;
    fill: rgb(255, 145, 0);
    fill-opacity: 0.5;
}